<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="title-align">New Customer Integration</div>
            <div class="content-wrapper">
                <div class="float-left">
                    <p  class="site-title">@Html.ActionLink(" ", "Index", "Home", null, new { @Class = "site-logo" }) </p>
                </div>
                <div class="float-right">
                    <p><br/></p>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Site", "Index", "Site")</li>
                            <li>@Html.ActionLink("Address", "Index", "Address")</li>
                            <li>@Html.ActionLink("User", "Index", "Person")</li>
                            <li>@Html.ActionLink("Site Type", "Index", "SiteType")</li>
                            <li>@Html.ActionLink("User Type", "Index", "UserType")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div id="body">
  
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - New Customer Integration</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
