@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Collect and store new customer information for organizations and users
    </p>

    <p>
        Supports single organizations with multiple sites and multiple users
    </p>

    <p>
        Version 1.0
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        For more information about ItradeNetwork click Contact.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>