@model IEnumerable<NewCustomerIntegration.Domain.Models.Organization>

@{
    ViewBag.Title = "Index";
    //Layout = null;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayName("Organization Code")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Phone Number")
        </th>
        <th>
            @Html.DisplayName("Fax Number")
        </th>
        <th>
            @Html.DisplayName("Parent Code")
        </th>
        <th>
            @Html.DisplayName("Active")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaxNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentOrganizationCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrganizationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrganizationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrganizationId })
        </td>
    </tr>
}

</table>
