@model NewCustomerIntegration.Domain.Models.Site

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Site</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Organization.OrganizationCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Organization.OrganizationCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SiteType.SiteTypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SiteType.SiteTypeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SiteName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SiteName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SiteCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SiteCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeZoneId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeZoneId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedBy)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
