@model NewCustomerIntegration.Domain.Models.Site

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Site</legend>

        @Html.HiddenFor(model => model.SiteId)

        <div class="editor-label">
            @Html.LabelFor(model => model.OrganizationId, "Organization")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OrganizationId", String.Empty)
            @Html.ValidationMessageFor(model => model.OrganizationId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SiteTypeId, "SiteType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SiteTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.SiteTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SiteName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SiteName)
            @Html.ValidationMessageFor(model => model.SiteName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SiteCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SiteCode)
            @Html.ValidationMessageFor(model => model.SiteCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeZoneId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeZoneId)
            @Html.ValidationMessageFor(model => model.TimeZoneId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDateTime)
            @Html.ValidationMessageFor(model => model.CreatedDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedDateTime)
            @Html.ValidationMessageFor(model => model.ModifiedDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedBy)
            @Html.ValidationMessageFor(model => model.ModifiedBy)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
