@model IEnumerable<NewCustomerIntegration.Domain.Models.SiteType>

@{
    ViewBag.Title = "Index";
}

<h2>Available Site Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayName("Site Type")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SiteTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SiteTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SiteTypeId })
        </td>
    </tr>
}

</table>
