@model NewCustomerIntegration.Domain.Models.Address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Address</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Site.SiteName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Site.SiteName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddressTypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressTypeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddressLine1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddressLine2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddressLine3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddressLine3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StateProvinceRegionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StateProvinceRegionId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostalCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CountryRegionId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CountryRegionId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedBy)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AddressId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
