@model NewCustomerIntegration.Domain.Models.Address

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Address</legend>

        @Html.HiddenFor(model => model.AddressId)

        <div class="editor-label">
            @Html.LabelFor(model => model.SiteId, "Site")
        </div>
        <div class="editor-field">
            @Html.DropDownList("SiteId", String.Empty)
            @Html.ValidationMessageFor(model => model.SiteId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressTypeId)
            @Html.ValidationMessageFor(model => model.AddressTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressLine1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressLine1)
            @Html.ValidationMessageFor(model => model.AddressLine1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressLine2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressLine2)
            @Html.ValidationMessageFor(model => model.AddressLine2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AddressLine3)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AddressLine3)
            @Html.ValidationMessageFor(model => model.AddressLine3)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StateProvinceRegionId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StateProvinceRegionId)
            @Html.ValidationMessageFor(model => model.StateProvinceRegionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostalCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostalCode)
            @Html.ValidationMessageFor(model => model.PostalCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CountryRegionId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CountryRegionId)
            @Html.ValidationMessageFor(model => model.CountryRegionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDateTime)
            @Html.ValidationMessageFor(model => model.CreatedDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedDateTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedDateTime)
            @Html.ValidationMessageFor(model => model.ModifiedDateTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedBy)
            @Html.ValidationMessageFor(model => model.ModifiedBy)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
