@model IEnumerable<NewCustomerIntegration.Domain.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Organizations Address List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        
        <th>
            @Html.DisplayName("Organization")
        </th>

        <th>
            @Html.DisplayName("Site Name")
        </th>

        <th>
            @Html.DisplayName("Address Type")
        </th>

        <th>
            @Html.DisplayName("City")
        </th>

        <th>
            @Html.DisplayName("State/Provence")
        </th>

        <th>
            @Html.DisplayName("Postal Code")
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Site.Organization.OrganizationName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Site.SiteName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.AddressTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateProvinceRegionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AddressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AddressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AddressId })
        </td>
    </tr>
}

</table>
